<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <%- include('./views/partials/head.ejs') %>
  <body>
    <!-- HEADER DYNAMIQUE -->
    <%- include('./views/partials/header') %>

    <!-- CONTENU PRINCIPAL DYNAMIQUE -->
    <main><%- body %></main>

    <%- include('./views/partials/footer') %>

      <!-- MODAL DE CONFIRMATION -->
      <%- include('./views/partials/confirmModal.ejs') %>

  </body>
</html>
